/neural-ai-env/
remanche_image/
/remanche_fold_image/
/temp/
/dataset_fold_remanche/
/saved_models/
/TesteDeAudio/
/TesteDeImagem/
/TreinoDeAudio/
/TreinoDeImagem/
/scriptload/load_image/
/dataset/
/archive/
/dataset_fold/
/Img/
/dados/
**/__pycache__/